.navbarMain{
  background-color: #FFD105;
}

.row {
  margin-bottom: 20px;
  margin-top: 10px;
}

.topAndBottomBorder{
  border-top: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
  padding-top: 2em;
  padding-bottom: 2em;
}

.phoneBox{
  background-color: #FFDB3C; 
  color: #f0f0f0;
}

.img_wrapper{
    margin: 0px auto 0px auto;
    text-align: center;
    overflow: hidden;  
    display: inline-block;
    position: relative;
}

.img_wrapper img{
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.logo_wrapper{
    margin: 0px auto 0px auto;
    text-align: center;
    overflow: hidden;  
}

.logo_wrapper img{
  margin: 0px auto 0px auto;
}

.footer-badges{
  padding-top: 2rem!important;
  padding-bottom: 1rem!important;
  background-color:#FFF;
  color:#000;
}
.footer-links{
  padding-top: 2rem!important;
  padding-bottom: 1rem!important;
  background-color:#FFE365;
  color:#413502;
}
.footer-copyright{
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
  background-color:#FFDB3B;
  color:#fff;
}
.footer-copyright a{
  color:#fff;
}
