.navbarMain{
  background-color: #FFD105;
}

.row {
  margin-bottom: 20px;
  margin-top: 10px;
}

.topAndBottomBorder{
  border-top: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
  padding-top: 2em;
  padding-bottom: 2em;
}

.phoneBox{
  background-color: #FFDB3C; 
  padding: 1rem 2rem 1rem 2rem;
  margin: 0 auto;
  display: inline-block;
}

.img_wrapper{
    margin: 0px auto 0px auto;
    text-align: center;
    overflow: hidden;  
}

.img_wrapper img{
  margin: 0px auto 0px auto;
}
